In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv("lab_bookings.csv")
df

,booking_id,entity_id,room_id,start_time,end_time,attended (YES/NO)
0,BKG300000,E105347,SEM_01,9/5/2025 16:46,9/5/2025 18:30,YES
1,BKG300001,E106333,LAB_305,8/30/2025 16:50,8/30/2025 19:19,YES
2,BKG300002,E101593,AUDITORIUM,9/5/2025 3:46,9/5/2025 4:29,NO
3,BKG300003,E104512,LAB_101,9/15/2025 4:17,9/15/2025 4:52,YES
4,BKG300004,E100694,ROOM_A2,9/17/2025 19:25,9/17/2025 20:02,YES
...,...,...,...,...,...,...
6995,BKG306995,E105400,AUDITORIUM,9/6/2025 19:21,9/6/2025 20:51,YES
6996,BKG306996,E105350,LAB_102,9/22/2025 8:12,9/22/2025 10:41,YES
6997,BKG306997,E105217,ROOM_A2,9/19/2025 17:12,9/19/2025 18:11,YES
6998,BKG306998,E106008,LAB_102,8/28/2025 14:47,8/28/2025 16:28,YES
6999,BKG306999,E101758,ROOM_A1,9/13/2025 20:00,9/13/2025 20:30,YES

## df is the ORIGINAL UNTOUCHED DATAFRAME ##

In [4]:
ndf = df
ndf['start_time']=pd.to_datetime(ndf['start_time'])
ndf['end_time']=pd.to_datetime(ndf['end_time'])
ndf['month'] = ndf['start_time'].dt.month
ndf['month_name'] = ndf['start_time'].dt.month_name()
ndf['day_of_week'] = ndf['start_time'].dt.dayofweek
ndf['day_name'] = ndf['start_time'].dt.day_name()
ndf['start_hour'] = ndf['start_time'].dt.hour
ndf['start_minute'] = ndf['start_time'].dt.minute
ndf['end_hour'] = ndf['end_time'].dt.hour
ndf['end_minute'] = ndf['end_time'].dt.minute
ndf

,booking_id,entity_id,room_id,start_time,end_time,attended (YES/NO),month,month_name,day_of_week,day_name,start_hour,start_minute,end_hour,end_minute
0,BKG300000,E105347,SEM_01,2025-09-05 16:46:00,2025-09-05 18:30:00,YES,9,September,4,Friday,16,46,18,30
1,BKG300001,E106333,LAB_305,2025-08-30 16:50:00,2025-08-30 19:19:00,YES,8,August,5,Saturday,16,50,19,19
2,BKG300002,E101593,AUDITORIUM,2025-09-05 03:46:00,2025-09-05 04:29:00,NO,9,September,4,Friday,3,46,4,29
3,BKG300003,E104512,LAB_101,2025-09-15 04:17:00,2025-09-15 04:52:00,YES,9,September,0,Monday,4,17,4,52
4,BKG300004,E100694,ROOM_A2,2025-09-17 19:25:00,2025-09-17 20:02:00,YES,9,September,2,Wednesday,19,25,20,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,BKG306995,E105400,AUDITORIUM,2025-09-06 19:21:00,2025-09-06 20:51:00,YES,9,September,5,Saturday,19,21,20,51
6996,BKG306996,E105350,LAB_102,2025-09-22 08:12:00,2025-09-22 10:41:00,YES,9,September,0,Monday,8,12,10,41
6997,BKG306997,E105217,ROOM_A2,2025-09-19 17:12:00,2025-09-19 18:11:00,YES,9,September,4,Friday,17,12,18,11
6998,BKG306998,E106008,LAB_102,2025-08-28 14:47:00,2025-08-28 16:28:00,YES,8,August,3,Thursday,14,47,16,28
6999,BKG306999,E101758,ROOM_A1,2025-09-13 20:00:00,2025-09-13 20:30:00,YES,9,September,5,Saturday,20,0,20,30

## ndf is the MODIFIED DATAFRAME WITH PROPER DATETIME ALIGNMENT ##