In [64]:
import numpy as np
import pandas as pd
df = pd.read_csv("student or staff profiles.csv")
df

,entity_id,name,role,email,department,student_id,staff_id,card_id,device_hash,face_id
0,E100000,Neha Mehta,student,user0@campus.edu,CIVIL,S39256,NaN,C3286,DH6d0bd80c8f8e,F100000
1,E100001,Neha Kumar,student,user1@campus.edu,Physics,S14165,NaN,C1488,DH75af13047587,F100001
2,E100002,Neha Singh,student,user2@campus.edu,Admin,S13478,NaN,C4257,DH7a5f80cb6e8d,F100002
3,E100003,Ishaan Desai,student,user3@campus.edu,Admin,S46463,NaN,C1106,DH3f7f51a6e78d,F100003
4,E100004,Rohan Desai,student,user4@campus.edu,MECH,S38221,NaN,C6514,DH64dfe3d9327e,F100004
...,...,...,...,...,...,...,...,...,...,...
6995,E106995,Siddharth Malhotra,faculty,user6995@campus.edu,Chemistry,NaN,T6671,C2407,DH83582c08825c,NaN
6996,E106996,Divya Kumar,student,user6996@campus.edu,MECH,S27713,NaN,C1333,DH0ac031caf1ce,NaN
6997,E106997,Aarav Kumar,student,user6997@campus.edu,ECE,S13046,NaN,C1494,DHa16ed29e861c,NaN
6998,E106998,Neha Iyer,student,user6998@campus.edu,Physics,S97530,NaN,C7819,DHd7edc90552b0,NaN
6999,E106999,Sana Mehta,student,user6999@campus.edu,BIO,S21246,NaN,C6272,DH55d60f2574a3,NaN

## df is ORIGINAL UNTOUCHED DATAFRAME ##

In [73]:
ndf = df
ndf['person_id']=ndf['student_id'].fillna(df['staff_id'])
ndf = ndf[['entity_id','name','role','email','department','person_id','card_id','device_hash','face_id']]
ndf['has_face_id'] = ndf['face_id'].notna()
ndf

C:\Users\anubh\AppData\Local\Temp\ipykernel_22880\2872267820.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ndf['has_face_id'] = ndf['face_id'].notna()

,entity_id,name,role,email,department,person_id,card_id,device_hash,face_id,has_face_id
0,E100000,Neha Mehta,student,user0@campus.edu,CIVIL,S39256,C3286,DH6d0bd80c8f8e,F100000,True
1,E100001,Neha Kumar,student,user1@campus.edu,Physics,S14165,C1488,DH75af13047587,F100001,True
2,E100002,Neha Singh,student,user2@campus.edu,Admin,S13478,C4257,DH7a5f80cb6e8d,F100002,True
3,E100003,Ishaan Desai,student,user3@campus.edu,Admin,S46463,C1106,DH3f7f51a6e78d,F100003,True
4,E100004,Rohan Desai,student,user4@campus.edu,MECH,S38221,C6514,DH64dfe3d9327e,F100004,True
...,...,...,...,...,...,...,...,...,...,...
6995,E106995,Siddharth Malhotra,faculty,user6995@campus.edu,Chemistry,T6671,C2407,DH83582c08825c,NaN,False
6996,E106996,Divya Kumar,student,user6996@campus.edu,MECH,S27713,C1333,DH0ac031caf1ce,NaN,False
6997,E106997,Aarav Kumar,student,user6997@campus.edu,ECE,S13046,C1494,DHa16ed29e861c,NaN,False
6998,E106998,Neha Iyer,student,user6998@campus.edu,Physics,S97530,C7819,DHd7edc90552b0,NaN,False
6999,E106999,Sana Mehta,student,user6999@campus.edu,BIO,S21246,C6272,DH55d60f2574a3,NaN,False

## ndf is the DATAFRAME WITH SINGLE COLUMN FOR STUDENT/STAFF_ID AND IT HAS A SEPARATE COLUMN INDICATING WHETHER FACE_ID IS PRESENT OR NOT ##

In [76]:
nndf = ndf[ndf['has_face_id'] == False]
nndf.head()

,entity_id,name,role,email,department,person_id,card_id,device_hash,face_id,has_face_id
5000,E105000,Ananya Rao,student,user5000@campus.edu,Admin,S69064,C1869,DH5376bde61359,NaN,False
5001,E105001,Neha Kumar,student,user5001@campus.edu,BIO,S83223,C2635,DH68903a538679,NaN,False
5002,E105002,Priya Desai,staff,user5002@campus.edu,Admin,T5205,C8611,DHaec7bc536843,NaN,False
5003,E105003,Aarav Gupta,student,user5003@campus.edu,ECE,S53530,C5040,DH6b52004ba398,NaN,False
5004,E105004,Neha Malhotra,student,user5004@campus.edu,Physics,S28159,C6585,DHc508b91c059c,NaN,False

## nndf is the DATAFRAME ONLY CONTAINING ENTITIES WITH false HAS_FACE_ID ##