In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv("free_text_notes (helpdesk or RSVPs).csv")
df

,note_id,entity_id,category,text,timestamp
0,N400000,E101498,rsvp,Confirmed attendance for robotics workshop.,2025-08-30 02:51:39
1,N400001,E101738,helpdesk,Wi-Fi not working in hostel block.,2025-09-18 03:03:05
2,N400002,E101590,maintenance,CCTV near library needs check.,2025-09-06 19:47:08
3,N400003,E101144,feedback,Broken chair in seminar room.,2025-09-19 09:05:20
4,N400004,E102891,incident,Wi-Fi not working in hostel block.,2025-09-11 13:28:20
...,...,...,...,...,...
6995,N406995,E100481,maintenance,CCTV near library needs check.,2025-09-25 21:29:27
6996,N406996,E100278,feedback,Wi-Fi not working in hostel block.,2025-09-19 22:09:23
6997,N406997,E105224,feedback,Confirmed attendance for robotics workshop.,2025-09-17 22:24:48
6998,N406998,E101619,maintenance,CCTV near library needs check.,2025-09-12 06:42:02
6999,N406999,E105461,incident,CCTV near library needs check.,2025-09-10 13:40:42

## df is the ORIGINAL UNTOUCHED DATAFRAME ##

In [6]:
ndf = df
ndf['timestamp']=pd.to_datetime(ndf['timestamp'])
ndf['month'] = ndf['timestamp'].dt.month
ndf['month_name'] = ndf['timestamp'].dt.month_name()
ndf['day_of_week'] = ndf['timestamp'].dt.dayofweek
ndf['day_name'] = ndf['timestamp'].dt.day_name()
ndf['hour'] = ndf['timestamp'].dt.hour
ndf['minute'] = ndf['timestamp'].dt.minute
ndf['second'] = ndf['timestamp'].dt.second
ndf

,note_id,entity_id,category,text,timestamp,month,month_name,hour_of_day,day_of_week,day_name,hour,minute,second
0,N400000,E101498,rsvp,Confirmed attendance for robotics workshop.,2025-08-30 02:51:39,8,August,2,5,Saturday,2,51,39
1,N400001,E101738,helpdesk,Wi-Fi not working in hostel block.,2025-09-18 03:03:05,9,September,3,3,Thursday,3,3,5
2,N400002,E101590,maintenance,CCTV near library needs check.,2025-09-06 19:47:08,9,September,19,5,Saturday,19,47,8
3,N400003,E101144,feedback,Broken chair in seminar room.,2025-09-19 09:05:20,9,September,9,4,Friday,9,5,20
4,N400004,E102891,incident,Wi-Fi not working in hostel block.,2025-09-11 13:28:20,9,September,13,3,Thursday,13,28,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,N406995,E100481,maintenance,CCTV near library needs check.,2025-09-25 21:29:27,9,September,21,3,Thursday,21,29,27
6996,N406996,E100278,feedback,Wi-Fi not working in hostel block.,2025-09-19 22:09:23,9,September,22,4,Friday,22,9,23
6997,N406997,E105224,feedback,Confirmed attendance for robotics workshop.,2025-09-17 22:24:48,9,September,22,2,Wednesday,22,24,48
6998,N406998,E101619,maintenance,CCTV near library needs check.,2025-09-12 06:42:02,9,September,6,4,Friday,6,42,2
6999,N406999,E105461,incident,CCTV near library needs check.,2025-09-10 13:40:42,9,September,13,2,Wednesday,13,40,42

## ndf is the MODIFIED DATAFRAME WITH PROPER DATETIME ALIGNMENT ##