In [9]:
import numpy as np
import pandas as pd
df = pd.read_csv("wifi_associations_logs.csv")
df

         device_hash       ap_id        timestamp
0     DH6034d82be28b    AP_LIB_1  9/16/2025 19:22
1     DHbb3a8ccad22b    AP_ENG_5   9/24/2025 5:50
2     DH791defaaf163    AP_AUD_3   9/4/2025 22:48
3     DH19babb55cc1f    AP_CAF_3   9/24/2025 3:27
4     DH7fa70efe3b51    AP_ENG_1  8/27/2025 23:23
...              ...         ...              ...
7995  DHfcd3f2ca0b9d    AP_LAB_4   9/2/2025 20:25
7996  DHc1cd82160a1f  AP_ADMIN_1   9/22/2025 5:03
7997  DHab4abb3ca825    AP_CAF_2  9/16/2025 15:01
7998  DH6ece4d2e83b8  AP_ADMIN_3    9/3/2025 6:41
7999  DH57e7c562f550  AP_ADMIN_1  9/16/2025 11:12

[8000 rows x 3 columns]

## df is the ORIGINAL UNTOUCHED DATAFRAME ##

In [15]:
ndf = df
ndf['timestamp']=pd.to_datetime(ndf['timestamp'])
ndf['month'] = ndf['timestamp'].dt.month
ndf['month_name'] = ndf['timestamp'].dt.month_name()
ndf['day_of_week'] = ndf['timestamp'].dt.dayofweek
ndf['day_name'] = ndf['timestamp'].dt.day_name()
ndf['hour_of_day'] = ndf['timestamp'].dt.hour
ndf['minute'] = ndf['timestamp'].dt.minute
ndf

,device_hash,ap_id,timestamp,month,month_name,day_of_week,day_name,hour_of_day,minute
0,DH6034d82be28b,AP_LIB_1,2025-09-16 19:22:00,9,September,1,Tuesday,19,22
1,DHbb3a8ccad22b,AP_ENG_5,2025-09-24 05:50:00,9,September,2,Wednesday,5,50
2,DH791defaaf163,AP_AUD_3,2025-09-04 22:48:00,9,September,3,Thursday,22,48
3,DH19babb55cc1f,AP_CAF_3,2025-09-24 03:27:00,9,September,2,Wednesday,3,27
4,DH7fa70efe3b51,AP_ENG_1,2025-08-27 23:23:00,8,August,2,Wednesday,23,23
...,...,...,...,...,...,...,...,...,...
7995,DHfcd3f2ca0b9d,AP_LAB_4,2025-09-02 20:25:00,9,September,1,Tuesday,20,25
7996,DHc1cd82160a1f,AP_ADMIN_1,2025-09-22 05:03:00,9,September,0,Monday,5,3
7997,DHab4abb3ca825,AP_CAF_2,2025-09-16 15:01:00,9,September,1,Tuesday,15,1
7998,DH6ece4d2e83b8,AP_ADMIN_3,2025-09-03 06:41:00,9,September,2,Wednesday,6,41
7999,DH57e7c562f550,AP_ADMIN_1,2025-09-16 11:12:00,9,September,1,Tuesday,11,12

## ndf is the MODIFIED DATAFRAME WITH PROPER DATETIME ALIGNMENT ##